{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/mainstyle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/index_style.css' %}">
	<style>
		body {
			background-image: url("/static/images/coverpage.png") !important;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height:100%;
			background-position: center 50px;
		}
	</style>
</head>
<body>
	{%  include 'registration/navbar.html' %}
	<h4 style="text-align:center; margin-top:1.5em; "><b>Welcome to TravelBuddy</b></h4>
	<div><b>
		<p style='text-align:center; margin-top:2em'>Hola</p>
		
		<p style='position:relative; margin-left:15em; margin-right:23em; margin-top:1em;font-size:13px;'>For our capstone project we are developing a smart tourism web app that recommends the best one day tour based on your interests! </p>
		
		<p style='position:relative; margin-left:10em; margin-right:24em; margin-top:1em;font-size:13px;'>We need your help to gather data (big data!) to improve our ML model. 
		</p>
	</b>
	<ol style='position:relative; margin-left:12em; margin-right:20em; margin-top:4em;font-size:13px;'>
		<li> Sign up</li>
		<li> Login</li>
		<li> Answer all the questions</li>
		<li> Check out the places recommended</li>
		<li> Rate each place based how much you enjoyed your visit</li>
		<li> Submit your results!</li>
	</ol>
	</div>
	
</body>

</html>