.hello-msg{
    font-size: 18px;
    color: #808080;
    margin-right: 20px;
  }

.navbarNav{
    background-color: #ebeff5;
}

.logo{
    width: 200px;
    height: 70px;
    }

    body{
        background-color: #ebeff5;
    }


    #total-orders{
        background-color: #4cb4c7;
    }


    #orders-delivered{
        background-color: #7abecc;
    }

    #orders-pending{
        background-color: #7CD1C0;
    }

.index_question{

   padding: 20 !important;
}


