{% load static %}

<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/mainstyle.css' %}">
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #7abecc !important;
        }
    </style>
</head>
<body id="a">
    {%  include 'registration/navbar.html' %}
    <fieldset>
    <form action = "{% url 'polls:modelling' %}" method="post">
    
    {% csrf_token %}
    <legend><h4>Do you like places that service alcohol?</h4></legend>
    {% for answer1, choice1 in liste2 %}
        <input type="radio" name="answer1" id="answer1" value="{{answer1 }}">
        <label>{{ choice1 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy trend places?</h4></legend>
    {% for answer2, choice2 in liste3 %}
        <input type="radio" name="answer2" id="answer2" value="{{ answer2 }}">
        <label>{{ choice2 }}</label><br>
    {% endfor %}

    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer3, choice3 in liste %}
        <input type="radio" name="answer3" id="answer3" value="{{ answer3 }}">
        <label>{{ choice3 }}</label><br>
    {% endfor %}

    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer4, choice4 in liste4 %}
        <input type="radio" name="answer4" id="answer4" value="{{ answer4 }}">
        <label>{{ choice4 }}</label><br>
    {% endfor %}

    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer5, choice5 in liste5 %}
        <input type="radio" name="answer5" id="answer5" value="{{ answer5 }}">
        <label>{{ choice5 }}</label><br>
    {% endfor %}

    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer6, choice6 in liste6 %}
        <input type="radio" name="answer6" id="answer6" value="{{ answer6 }}">
        <label>{{ choice6 }}</label><br>
    {% endfor %}

    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer7, choice7 in liste7 %}
        <input type="radio" name="answer7" id="answer7" value="{{ answer7 }}">
        <label>{{ choice7 }}</label><br>
    {% endfor %}

    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer8, choice8 in liste8 %}
        <input type="radio" name="answer8" id="answer8" value="{{ answer8 }}">
        <label>{{ choice8 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer9, choice9 in liste9 %}
        <input type="radio" name="answer9" id="answer9" value="{{ answer9 }}">
        <label>{{ choice9 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer10, choice10 in liste10 %}
        <input type="radio" name="answer10" id="answer10" value="{{ answer10 }}">
        <label>{{ choice10 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer11, choice11 in liste11 %}
        <input type="radio" name="answer11" id="answer11" value="{{ answer11 }}">
        <label>{{ choice11 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer12, choice12 in liste12 %}
        <input type="radio" name="answer12" id="answer12" value="{{ answer12 }}">
        <label>{{ choice12 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer13, choice13 in liste13 %}
        <input type="radio" name="answer13" id="answer13" value="{{ answer13 }}">
        <label>{{ choice13 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer14, choice14 in liste14 %}
        <input type="radio" name="answer14" id="answer14" value="{{ answer14 }}">
        <label>{{ choice14 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer15, choice15 in liste15 %}
        <input type="radio" name="answer15" id="answer15" value="{{ answer15 }}">
        <label>{{ choice15 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer16, choice16 in liste16 %}
        <input type="radio" name="answer16" id="answer16" value="{{ answer16 }}">
        <label>{{ choice16 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer17, choice17 in liste17 %}
        <input type="radio" name="answer17" id="answer17" value="{{ answer17 }}">
        <label>{{ choice17 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer18, choice18 in liste18 %}
        <input type="radio" name="answer18" id="answer18" value="{{ answer18 }}">
        <label>{{ choice18 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer19, choice19 in liste19 %}
        <input type="radio" name="answer19" id="answer19" value="{{ answer19 }}">
        <label>{{ choice19 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy crowded places?</h4></legend>
    {% for answer20, choice20 in liste20 %}
        <input type="radio" name="answer20" id="answer20" value="{{ answer20 }}">
        <label>{{ choice20 }}</label><br>
    {% endfor %}
    

    </fieldset>
    <input type="submit" value="Vote">
    </form>
    <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }
        </script>
    
</body>
</html>
