{% load static %}

<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/mainstyle.css' %}">
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #7abecc !important;
        }
    </style>
</head>
<body id="a" style='left-margin:2px'>
    {%  include 'registration/navbar.html' %}
    <fieldset>
    <form action = "{% url 'polls:modelling' %}" method="post">
    
    {% csrf_token %}
    <legend><h4>Do you prefer popular places with a lot of foot traffic over quiet places?</h4></legend>
    {% for answer1, choice1 in liste2 %}
        <input type="radio" name="answer1" id="answer1" value="{{answer1 }}">
        <label>{{ choice1 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you like to explore popular places?</h4></legend>
    {% for answer2, choice2 in liste3 %}
        <input type="radio" name="answer2" id="answer2" value="{{ answer2 }}">
        <label>{{ choice2 }}</label><br>
    {% endfor %}

    {% csrf_token %}
    <legend><h4>Are you willing to spend money on pricey experiences?</h4></legend>
    {% for answer3, choice3 in liste %}
        <input type="radio" name="answer3" id="answer3" value="{{ answer3 }}">
        <label>{{ choice3 }}</label><br>
    {% endfor %}

    {% csrf_token %}
    <legend><h4>Do you like to explore nature and green spaces when in a new city?</h4></legend>
    {% for answer4, choice4 in liste4 %}
        <input type="radio" name="answer4" id="answer4" value="{{ answer4 }}">
        <label>{{ choice4 }}</label><br>
    {% endfor %}

    {% csrf_token %}
    <legend><h4>Is it important to you to go to scenic places with great photo opportunities?</h4></legend>
    {% for answer5, choice5 in liste5 %}
        <input type="radio" name="answer5" id="answer5" value="{{ answer5 }}">
        <label>{{ choice5 }}</label><br>
    {% endfor %}

    {% csrf_token %}
    <legend><h4>Do you travel with your pet(s) or like to go to animal-friendly places (i.e. dog parks)?</h4></legend>
    {% for answer6, choice6 in liste6 %}
        <input type="radio" name="answer6" id="answer6" value="{{ answer6 }}">
        <label>{{ choice6 }}</label><br>
    {% endfor %}

    {% csrf_token %}
    <legend><h4>Are you into literature and books?</h4></legend>
    {% for answer7, choice7 in liste7 %}
        <input type="radio" name="answer7" id="answer7" value="{{ answer7 }}">
        <label>{{ choice7 }}</label><br>
    {% endfor %}

    {% csrf_token %}
    <legend><h4>Do you like laid-back and casual spots?</h4></legend>
    {% for answer8, choice8 in liste8 %}
        <input type="radio" name="answer8" id="answer8" value="{{ answer8 }}">
        <label>{{ choice8 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you need publicly available Wifi options during your visit?</h4></legend>
    {% for answer9, choice9 in liste9 %}
        <input type="radio" name="answer9" id="answer9" value="{{ answer9 }}">
        <label>{{ choice9 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Are you interested in history and historic places?</h4></legend>
    {% for answer10, choice10 in liste10 %}
        <input type="radio" name="answer10" id="answer10" value="{{ answer10 }}">
        <label>{{ choice10 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Are you a person that likes to visit museums (art, history, curiosities, etc.)?'</h4></legend>
    {% for answer11, choice11 in liste11 %}
        <input type="radio" name="answer11" id="answer11" value="{{ answer11 }}">
        <label>{{ choice11 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you enjoy street performances?</h4></legend>
    {% for answer12, choice12 in liste12 %}
        <input type="radio" name="answer12" id="answer12" value="{{ answer12 }}">
        <label>{{ choice12 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Are you looking for authentic local experiences?</h4></legend>
    {% for answer13, choice13 in liste13 %}
        <input type="radio" name="answer13" id="answer13" value="{{ answer13 }}">
        <label>{{ choice13 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Are you a sporty person and looking for sports opportunities while travelling?</h4></legend>
    {% for answer14, choice14 in liste14 %}
        <input type="radio" name="answer14" id="answer14" value="{{ answer14 }}">
        <label>{{ choice14 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Do you usually travel with your family and look for family-friendly places</h4></legend>
    {% for answer15, choice15 in liste15 %}
        <input type="radio" name="answer15" id="answer15" value="{{ answer15 }}">
        <label>{{ choice15 }}</label><br>
    {% endfor %}


    {% csrf_token %}
    <legend><h4>Are you travelling with a romantic partner and want to find a special place to take them to?</h4></legend>
    {% for answer16, choice16 in liste16 %}
        <input type="radio" name="answer16" id="answer16" value="{{ answer16 }}">
        <label>{{ choice16 }}</label><br>
    {% endfor %} 

    </fieldset>
    <input type="submit" value="Vote" id="register" disabled="disabled">
    </form>
    <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }

        (function() {
            $('form > input').keyup(function() {
        
                var empty = false;
                $('form > input').each(function() {
                    if ($(this).val() == '') {
                        empty = true;
                    }
                });
        
                if (empty) {
                    $('#register').attr('disabled', 'disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
                } else {
                    $('#register').removeAttr('disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
                }
            });
        })()
        </script>
    
</body>
</html>
